<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Morphd :: Isomorphic Drupal">
    <meta name="author" content="Steve Worley <sj.worley88@gmail.com>">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
  <nav class="navbar-static-top navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header"><a href="#" class="navbar-brand">Morphd, Isomorphic headless Drupal.</a></div>
    </div>
  </nav>

  <div class="container=fluid">
    <div id="app"></div>
  </div>

  <!-- Javascript for dummies -->
  <script type="text/javascript" src="js/client.js"></script>
</body>
</html>
